<ion-view>
	<ion-content>
		<div class="col-centered">
			<h1>Find A Lake</h1>
		 	<div class="front-page">
		 		<h2>Lakes Near You</h2>
		 		<div class="form-group">
			 		<label for="counties">Search Lakes By County</label>
			 		<select name="counties" ng-change="showLakesByCounty(county)" ng-model="county" ng-options="county as county for county in counties">
			 			<option value=""> --Select a County--</option>
			 		</select>
		 		</div>
		 		<table class="table table-striped">
		 			<thead>
		 				<td>Lake Name</td>
		 				<td>County</td>
		 				<td>Distance</td>
		 			</thead>
		 			<tr ng-repeat="lake in nearByLakes">
		 				<td>{{lake.lakeName}}</td>
		 				<td>{{lake.county}}</td>
		 				<td>{{lake.distance}} (miles)</td>
		 			</tr>
		 		</table>
			
			</div>
			
		</div>
	</ion-content>
</ion-view>