<ion-view>
	<ion-content>
		<div class="col-centered">
			<div class="front-page">
			<ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" control="map.control">
				<ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
		        </ui-gmap-marker>
		        <ui-gmap-polylines 
		        	models="polylines" 
		        	path="'path'" 
		        	stroke="'stroke'" 
		        	visible="polylines.visible"
		        	clickable="polylines.clickable"
		        	geodesic="'geodesic'" 
		        	fit="true" 
		        	editable="polylines.editable" 
		        	draggable="'draggable'"
		        	control="polylines.control"
		        	doRebuildAll="'true'">
				</ui-gmap-polylines>
			</ui-gmap-google-map>
			<h1>{{lake.lakeName}}</h1><h2>{{lake.county}}</h2>
			<div id="trips-container">
				<table class="table table-striped">
					<thead>
						<td>Size(acres)</td>
						<td>Access Type</td>
						<td>Latitude</td>
						<td>Longitude</td>
					</thead>
					<tr>
						<td>{{lake.acres}}</td>
						<td>{{lake.launchType}}</td>
						<td>{{lake.geo.lat}}</td>
						<td>{{lake.geo.lng}}</td>
					</tr>
				</table>

		
			</div>
			
		</div>
		<button class="button button-block button-positive padding-horizontal" ng-show="!askedForDirections" ng-click="getDirections()">Get Directions</button>
	</ion-content>
</ion-view>