
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Add Fish</h1>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box>
            <ion-slide class="padding">
            <h4>Species:</h4>
                <ion-radio ng-repeat="specie in species" ng-click="select($index)" type="radio" name="species" id="{{specie}}" ng-model="fish.species" value="{{specie}}">
                    {{specie}}
                </ion-radio>
            </ion-slide>
            <ion-slide class="padding">
                <button class="button icon-left ion-camera button-positive" ng-click="takePhoto()">Take Photo</button>
                <img src="{{image}}" width="240"/>
            </ion-slide>
        </ion-slide-box>
    
    <button class="button button-calm" ng-click="save()">Save</button>   
    <button class="button button-assertive" ng-click="cancel()">Cancel</button>
    </ion-content>
  </ion-modal-view>