<div>
	<h1>Trip Started at:<br />{{time}}</h1>
	<div class="snapshot">
		<h4>Snapshots</h4>
		<table class="table table-striped">
			<thead>
				<td>Time</td>
				<td>Fish</td>
			</thead>
			<tr ng-repeat="snapshot in snapshots">
				<td><a ng-click="collapse($index)">{{snapshot.timestamp}}</a><div>
					<ul ng-show="collapsed[$index]">
						<li>{{snapshot.origin.latitude}}, {{snapshot.origin.longitude}}</li>
						<li>{{snapshot.temperature}}&deg;F</li>
						<li>{{snapshot.condition}}</li>
						<li>Dewpoint {{snapshot.dewpoint}}&deg;</li>
						<li>Pressure {{snapshot.pressure.in}} in.</li>
						<li>Wind {{snapshot.wind.speed}}mph {{snapshot.wind.direction}}</li>
						<li ng-if="snapshot.fish">Fish Caught:
							<ul>
								<li><strong>Species:</strong> {{snapshot.fish.species}}</li>
								<li ng-if="snapshot.fish.weight"><strong>Weight:</strong> {{snapshot.fish.weight}}</li>
								<li ng-if="snapshot.fish.length"><strong>Length:</strong> {{snapshot.fish.length}}</li>
								<li ng-if="snapshot.fish.depth"><strong>Depth:</strong> {{snapshot.fish.depth}}</li>
								<li ng-if="snapshot.fish.lure"><strong>Lure:</strong> {{snapshot.fish.lure}}</li>
								<li ng-if="snapshot.fish.notes"><strong>Notes:</strong> {{snapshot.fish.notes}}</li>
							</ul>
						</li>
					</ul>
				</div></td>
				<td><a ng-if="snapshot.fish" ng-click="collapse($index)" class="fish-icon"></td>

			</tr>
		</table>
	</div>
	
	<button ng-click="openModal()" class="btn btn-success lg"> + Fish</button> <button ng-click="endTrip()" class="btn btn-danger lg">End</button>
</div>